.app {
  button {
    border: 2px solid;
    border-radius: 10px;
  }

  .test {
      button {
          border: 1px solid green
      }
    .test-2 {
      button {
        border-radius: 10px;
        border: 0px;
      }
    }
  }
}


@mixin button($rad, $bg, $txt) {
    border-radius: $rad;
    background-color: $bg;
    color: $txt;
}

.btn-save {
    @include button(7px, black, lightgreen)
}

%btn-app {
    border: 2px solid greenyellow;
    border-radius: 10px;
}

.btn-app-test {
    background-color: aquamarine;
    @extend %btn-app;
}